<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>我的优惠券</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/css/index/index/conpon.min.css" />
   	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css"/>
   	<!--<link rel="stylesheet" type="text/css" href="/static/lib/font-awesome.scss"/>-->
    <!--<link rel="stylesheet" type="text/css" href="/static/lib/bootstrap.css"/>-->
</head>

<body style="background: #eeecec;">
    <div class="couponList">
	    <div class="exchange">
		    <input v-model="coupon_id" class="input" type="text" placeholder="请输入优惠券兑换码" name="" id="" value="" />
		    <span @click="getCoupon" class="exchange_btn">领取</span>
	    </div>
	    
	    <div style="height: 3rem;line-height: 3.4rem;padding-left: 1rem;font-size: 0.9rem;">选择您可用的优惠券</div>
	    
	    <div class="coupons">
	    	<div class="coupon" v-for="item in data">
	    		<div v-show="item.type == 1" class="type">
	    			<span>满</span>
	    			<span>减</span>
	    			<span>券</span>
	    		</div>
	    		<div v-show="item.type == 2" class="type">
	    			<span>打</span>
	    			<span>折</span>
	    			<span>券</span>
	    		</div>
	    		<div v-show="item.type == 1" class="money"><i class="fa fa-rmb" aria-hidden="true"></i><span v-text="item.coupon"></span></div>
	    		<div v-show="item.type == 2" class="money" style="font-size: 1.4rem;" v-text="">{{item.coupon*100/10}}折</div>
	    		<div class="time">
	    			<div style="color: #666;">
	    				有效期至<span style="padding-left: 0.2rem;">{{time(item.expire_time)}}</span>
	    			</div>
	    			<div>{{item.name}}</div>
	    		</div>
	    	</div>
	    </div>	
	    
	    <div v-show="shoot" class="shoot">{{message}}</div>
    </div>
    
    
    <!-- 按钮触发模态框 -->
		<!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">开始演示模态框</button>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog" style="margin-top: 50%;">
		        <div class="modal-content">
		            <div style="padding: 10px;">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
		            </div>
		            <div class="modal-body" style="text-align: center;">在这里添加一些文本</div>
		            
		        </div>
		    </div>
		</div>-->
    
    <!--<script type="text/javascript" src="/static/lib/jquery-3.3.1.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
    {include file="index/footer_mobile" /}
    <script src="/static/js/index/index/coupon_mobile.min.js"></script>
</body>

</html>