<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>修改资料</title>
    <meta name="description" content="" />
    <meta content="" name="keywords" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/css/index/index/user_info.min.css?v=1" />
</head>

<body>
    <div class="mobile-app">
        <div class="user-info">
            <div class="form-group">
                <label>用户名</label>
                <input type="text" value="{$nickname}" v-model="nickname" placeholder="用户名" class="form-control" />
            </div>
            <div class="form-group">
                <label>手机号</label>
                <input type="text" v-model="phone" placeholder="绑定手机号" class="form-control" />
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" value="{$password}" v-model="password" placeholder="新密码(至少6位)" class="form-control" />
            </div>
            <div class="form-group">
                <span class="edit-btn" @click="submitEdit">确认修改</span>
            </div>
        </div>
    </div>
    <input type="hidden" id="hidden-phone" value="{$phone}" />
    <input type="hidden" id="hidden-nickname" value="{$nickname}" />
    <input type="hidden" id="hidden-password" value="{$password}" />
    {include file="index/footer_mobile" /}
    <script src="/static/js/index/index/user_info_mobile.min.js?v=2"></script>
</body>

</html>